.heading {
    background-color: rgb(255,0,0);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.list {
    text-align: center;
}

.dal {
    background-color: rgb(200, 91, 40);
    color: hsl(0, 0%, 100%);
}

.butter-chicken {
    background-color: #ff5e00;
    color: hsl(0, 0%, 100%);
}

.palak {
    background-color: green;
    color: white;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}