.heading {
    background-color: rgb(255,0,0);
    color: hsl(0, 0%, 100%);
}

.dal {
    background-color: rgb(200, 91, 40);
    color: hsl(0, 0%, 100%);
}

.butter-chicken {
    background-color: #ff5e00;
    color: hsl(0, 0%, 100%);
}

.palak {
    background-color: green;
    color: white;
}

.general {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img-dal,.img-palak {
    height: auto;
    width: 400px;
}

.img-chicken {
    height: auto;
    width: 600px;
}

.content {
    font-size: 28px;
}

ul {
    list-style-type: none;
}

.colour-emphasis-dal {
    color: rgb(200, 91, 40);
}

.colour-emphasis-butterchicken {
    color: #ff5e00;
}

.colour-emphasis-palak {
    color: green;
}